<div class="post_comment">
  <a href="/user?username={{username}}">
	<img class="profpic" src="{{img}}">
  </a>
  <div class="comment_body">
	<a class="user_attribution" href="/user?username={{username}}">{{username}}</a>
	<span class="time">{{time}}</span>
	<p class="comment">{{comment}}</p>
  </div>
  <div class="clear"></div>
</div>