<div class="post">
  <div class="post_header">
	<h2 class="title"><a href="/outfit?id={{id}}">{{title}}</a></h2>
	<div class="sub">
	  <span class="user_attribution">by <a href="/user?username={{username}}">{{username}}</a></span>
	  <span>//</span>
	  <span class="post_stats">
		<span>{{numcomments}}</span> · 
		<span class="num_likes">{{likes}}</span> <span class="likes"></span>
		<span>{{time}}</span>
	  </span>
	</div>
  </div>
  <div class="post_stage">
	{{#each items}}
	  <a class="marker" x="{{x}}" y="{{y}}">
		{{@index}}
	  </a>
	{{/each}}
	<img class="post_img" src="{{img}}">
  </div>
  <div class="post_caption">
	<p>{{caption}}</p>
  </div>
  <div class="post_tags">
	<span style="font-weight: bold;">TAGS</span>
	{{#each tags}}
	<span class="tag"><a href="/search?q={{tag}}">{{tag}}</a></span>
	{{/each}}
  </div>
  <div class="post_interact">
	<span class="comment_button"></span>
	<span class="like_button"></span>
	<div class="clear"></div>
  </div>
</div>