<div class="user">
  <a href="/user?username={{username}}">
	<img class="profpic" src="{{img}}">
  </a>
  <div class="user_body">
    <h4><a href="/user?username={{username}}">{{username}}</a></h4>
	<span>Location</span> <span>{{location}}</span>
	<p>{{description}}</p>
  </div>
  <div class="clear"></div>
</div>